Examples/Gallery/node_modules
Examples/Maps/node_modules
Examples/Todo/node_modules
Framework/node_modules
Framework/todos.txt
Examples/Gallery/public/bower_components
Examples/Gallery/public/test.html
Examples/Maps/public/bower_components
Examples/Todo
.idea