img {
	display: block;
	max-width: 100%;
    margin: auto;
    pointer-events: none;
    cursor: pointer;
}

pointer-element {
    display: inline-block;
    max-width: 100%;
}


:host {
	display: block;
}

paper-button[hidden] {
    display: none;
}

/* TODO delete file? */