.xdclient_button {
	position: absolute;
	height: 26px;
	width: 26px;
	right: 10px;
	top: 10px;
	border-radius: 15px;
	background-color: #EEEEEE;
	background-image: url(xdclient/images/share41.png);
	background-position:center;
}

.xdclient_button:hover {
	background-color: #CCC;
}

.xdclient_connect {
	position: absolute;
	height: 26px;
	width: 26px;
	right: 46px;
	top: 10px;
	border-radius: 15px;
	background-color: #EEEEEE;
	background-image: url(xdclient/images/plug36.png);
    background-size: 10px;
    background-repeat: no-repeat;
	background-position:center;
}

.xdclient_connect:hover {
	background-color: #CCC;
}

.xdclient_menu {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	opacity: 0.9;
	background-color: #000;
	z-index:2;
}

.xdclient_menu_inner {
	position: absolute;
	width: 50%;
	top: 20%;
	bottom: 20%;
	left: 25%;
	right: 25%;
	background-color: white;
	opacity: 2;
	padding: 15px;
	overflow: scroll;
}

.xdclient_close {
	float: right;
	font-size: 30px;
	font-weight: bolder;
	cursor:pointer;
}
.xdclient_close:hover {
	color: #00F;
}
