<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../polymer/xdmvc-connection.html">
<link rel="import" href="../polymer/xdmvc-synchronised.html">
<link rel="import" href="../polymer/xdmvc-roles.html">
<link rel="import" href="../../iron-pages/iron-pages.html">

<dom-module id="lazy-page-layout">
    <template>
        <xdmvc-devices id="devices" devices="{{devices}}"></xdmvc-devices>
        <xdmvc-synchronised id="sync"
                            objects='{{pages}}'>
        </xdmvc-synchronised>
        <content></content>
    </template>
</dom-module>
<script>
    Polymer({
        is: "lazy-page-layout",
        properties : {
            pages: {
                type: Object,
                value: function(){
                    return {"current": { "index":0} };
                },
                notify: true
            },
            devices:{
                type: Object,
                notify: true
            },
            selected: {
                type: Number,
                notify: true,
                computed: 'computePage(pages.current.index, devices.connectedDevices.length)'
            },
            current: {
                type: Number,
                notify: true,
                observer: 'select'
            }

        },
        observers: [ 'computeCurrent(pages.current.index)'],

        computePage: function() {
            // Sorts device IDs alphabetically. Other orders could be implemented? E.g. size, connection time?
            var arr = this.devices.connectedDevices.map(function(device){
                return device.id;
            });
            arr.push(XDmvc.deviceId);
            arr.sort();
            return this.pages.current.index + arr.indexOf(XDmvc.deviceId);
        },

        computeCurrent: function() {
            this.current = this.pages.current.index;
        },

        selectNext: function () {
            this.set("pages.current.index", this.pages.current.index +1);
        },
        selectPrevious: function () {
            this.set("pages.current.index", Math.max(0, this.pages.current.index -1));
        },
        select: function(index) {
            this.set("pages.current.index", index);
        }



    });
</script>
