<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../polymer/xdmvc-connection.html">
<link rel="import" href="../polymer/xdmvc-roles.html">
<link rel="import" href="../../iron-pages/iron-pages.html">

<dom-module id="page-layout">
    <template>
        <xdmvc-devices id="devices" devices="{{devices}}"></xdmvc-devices>
        <xdmvc-synchronised id="sync"
                            objects='{{pages}}'>
        </xdmvc-synchronised>
        <iron-pages selected="{{current}}">
            <content></content>
        </iron-pages>
    </template>
</dom-module>
<script>
    Polymer({
        is: "page-layout",
        properties : {
            pages: {
                type: Object,
                value: function(){
                    return {"current": { "index":0} };
                },
                notify: true
            },
            devices:{
                type: Object,
                notify: true
            },
            current:{
                type: Number,
                notify: true
            }
        }

    });
</script>
